header
{
  text-align:center;
  margin: 0px auto;
  background: #D61F57;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 0.5em;
  margin-top: 20px;
  margin-bottom: 20px;
  width:50%;
}

section
{
  background: #EFF5FB;
  text-align:center;
  padding: 10px;
  border: dashed 2px maroon;
  font-family: 'Roboto', sans-serif;
  margin: 0px auto;
  float: left;
  width: 100%;
}

table{
  margin: 0px auto;
}

canvas{
  border: 1px solid black;
}