* {
    padding: 0;
    margin: 0;
}

.azul {
    width: 33vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: blue;
    border: 1px solid black;
}

.naranja {
    width: 33vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: orange;
    border: 1px solid black;
}

.contenedor {
    display: flex;
}

@media (max-width: 800px) {
    .contenedor {
        flex-wrap: wrap;
    }
    .azul {
        width: 48vw;
    }
    .naranja {
        width: 100vw;
    }
}

@media (max-width: 600px) {
    .contenedor {
        flex-direction: column;
    }
    .azul {
        width: 100vw;
    }
}