* {
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: 2em auto;
  font: 14px Arial, Helvetica, sans-serif;
}

nav ul,
aside ul {
  list-style: none;
  padding: 0;
}

nav a {
  background-color: rgba(207, 232, 220, 0.2);
  border: 2px solid rgb(79, 185, 227);
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #333;
  font-weight: bold;
}

.related {
  background-color: rgba(79, 185, 227, 0.3);
  border: 1px solid rgb(79, 185, 227);
  padding: 10px;
}

.sidebar {
  background-color: rgba(207, 232, 220, 0.5);
  padding: 10px;
}

article {
  margin-bottom: 16px;
}

nav li {
  flex: 1;
}

@media only screen and (min-width: 640px) {
  article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
  }

  nav ul {
    display: flex;
  }
}

@media only screen and (min-width: 1120px) {
  article {
    margin-bottom: 0;
  }

  footer {
    border-top: 1px solid #ccc;
    margin-top: 2em;
  }
}
